.page {
  text-align: center;
}

.footer {
  margin-top: 50px;
  font-size: 22px;
  font-weight: bold;
}

.logout-btn {
  margin-top: 20px;
  background: #d6caff;
  padding: 12px 25px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}