.App {
  text-align: center;
  background-image: url("spotify_bg.png");
  background-size: cover; 
  background-position: center;
  height: 100vh; 
  width: 100vw; 
}

h1 {
  font-size: 50px;
  padding-top: 130px;
}

button {
  background-color: rgb(229, 198, 255);
  border: transparent;
  color: black;
  padding: 15px;
  font-size: 25px;
  border-radius: 5px;
  font-weight: 10px;
}