.App {
  text-align: center;
  background-image: url("spotify_bg.png");
  background-size: cover; 
  background-position: center;
  height: 100vh; 
  width: 100vw; 
  font-family: Arial, sans-serif;
  /* text-align: center; */
  margin: 0;
}

h1 {
    font-size: 48px;
    margin-top: 50px;
    font-weight: 700;
}

/* Carousel Layout */
.carousel-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.side-left, .side-right {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    position: relative;
    top: 80px;
    background: linear-gradient(180deg, #c6baff, #ffffff);
    filter: blur(3px);
    opacity: 0.8;
}

.side-left { margin-right: -150px; }
.side-right { margin-left: -150px; }

.carousel {
    width: 70%;
    display: flex;
    gap: 40px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.card {
    min-width: 100%;
    background: linear-gradient(90deg, #5b5bf7, #4edb7a);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.song-img {
    background: white;
    width: 170px;
    height: 170px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-img img {
    width: 120px;
}

.info {
    text-align: left;
    font-size: 18px;
}

.remove-btn {
    margin-top: 10px;
    background: #14d64a;
    color: black;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* Dots */
.dots {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 25px;
}

.dot {
    width: 12px;
    height: 12px;
    background: #d3d3d3;
    border-radius: 50%;
}

.dot.active {
    background: #7b5dfa;
}

/* Arrows */
.arrows {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 25px;
    color: #808080;
    cursor: pointer;
}

.footer {
    margin-top: 50px;
    font-size: 22px;
    font-weight: bold;
}

.logout-btn {
    margin-top: 20px;
    background: #d6caff;
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    border: none;
}
